---
import DocsLayout from "../../layouts/DocsLayout.astro"
import {IconArrow} from "../../components/SvgIcons"
---

<DocsLayout title="文档">
  <article class="h-full flex items-center justify-center">
    <h1 class="font-benderBold text-4xl">
      文档
    </h1>
  </article>
</DocsLayout>
